In [1]:
import pandas as pd

In [45]:
df = pd.read_csv("./taipei_main_data_house.csv")

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243176 entries, 0 to 243175
Columns: 109 entries, Unnamed: 0.2 to 醫療設施_under_750_m
dtypes: float64(89), int64(8), object(12)
memory usage: 204.1+ MB

In [48]:
# 台北新北要先分開做，不然會有重複的問題(因為原本是獨立的表格會有相同的index)
df = df.sort_values('Unnamed: 0.1')

In [49]:
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,usage_category,address,property_type,community_name,main_building_ratio,city,parking_space_price,...,療養院_under_750_m,診所_under_250_m,診所_under_500_m,診所_under_750_m,藥局_under_250_m,藥局_under_500_m,藥局_under_750_m,醫療設施_under_250_m,醫療設施_under_500_m,醫療設施_under_750_m
0,0,0,0,住,士林區中社路一段０１１巷００７２號四樓#士林區中社路一段１１巷７２號四樓,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,1,住,士林區後港街０２０巷００１８號四樓#士林區後港街２０巷１８號四樓,公寓(5樓含以下無電梯),NaN,86.10,A,NaN,...,0.0,5.0,16.0,9.0,4.0,3.0,3.0,0.0,0.0,0.0
2,2,2,2,住,士林區中正路１０４巷００１弄０００２號四樓#士林區中正路１０４巷１弄２號四樓,華廈(10層含以下有電梯),NaN,49.54,A,NaN,...,0.0,6.0,11.0,23.0,0.0,0.0,6.0,0.0,0.0,0.0
3,3,3,3,住,士林區中山北路七段１９０巷００１６之３號７樓#士林區中山北路七段１９０巷１６之３號７樓,華廈(10層含以下有電梯),海山華廈,72.92,A,NaN,...,0.0,3.0,3.0,7.0,1.0,1.0,0.0,0.0,0.0,1.0
4,4,4,4,住,士林區延平北路五段２８５巷００８９號四樓#士林區延平北路五段２８５巷８９號四樓,套房(1房(1廳)1衛),硯藏,51.19,A,NaN,...,0.0,0.0,34.0,8.0,0.0,14.0,4.0,0.0,0.0,1.0

In [53]:
new_df = pd.read_csv("./new_taipei_main_data_house.csv")

In [56]:
new_df = new_df.sort_values('Unnamed: 0.1')

In [61]:
final_df = pd.concat([df, new_df], axis=0, ignore_index=True)

In [62]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806578 entries, 0 to 806577
Columns: 109 entries, Unnamed: 0.2 to 醫療設施_under_750_m
dtypes: float64(89), int64(8), object(12)
memory usage: 670.8+ MB

In [64]:
final_df[243170:243180]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,usage_category,address,property_type,community_name,main_building_ratio,city,parking_space_price,...,療養院_under_750_m,診所_under_250_m,診所_under_500_m,診所_under_750_m,藥局_under_250_m,藥局_under_500_m,藥局_under_750_m,醫療設施_under_250_m,醫療設施_under_500_m,醫療設施_under_750_m
243170,70,243170,243170,住,南港區東新街１８０巷００１１號地下一層之９#南港區東新街１８０巷１１號地下一層之９,住宅大樓(11層含以上有電梯),都泊林C區,63.14,A,NaN,...,0.0,0.0,0.0,8.0,0.0,1.0,2.0,0.0,0.0,0.0
243171,71,243171,243171,住,南港區忠孝東路六段０１８６號#南港區忠孝東路六段１８６號,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,...,0.0,2.0,15.0,14.0,0.0,6.0,6.0,0.0,0.0,0.0
243172,72,243172,243172,住,南港區忠孝東路六段０１８６號三樓#南港區忠孝東路六段１８６號三樓,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,...,0.0,2.0,15.0,14.0,0.0,6.0,6.0,0.0,0.0,0.0
243173,73,243173,243173,住,南港區忠孝東路六段０１８６號二樓#南港區忠孝東路六段１８６號二樓,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,...,0.0,2.0,15.0,14.0,0.0,6.0,6.0,0.0,0.0,0.0
243174,74,243174,243174,工,南港區市民大道八段５８８巷００２８號三樓#南港區市民大道八段５８８巷２８號三樓,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,...,0.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
243175,75,243175,243175,工,南港區巷００３弄０００１號#南港區忠孝東路六段２６９巷３弄１號,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,...,0.0,3.0,5.0,6.0,0.0,2.0,7.0,0.0,0.0,0.0
243176,0,0,0,住,鶯歌區永明街０１０５號八樓#鶯歌區永明街１０５號八樓,華廈(10層含以下有電梯),歡喜就好,62.82,F,NaN,...,0.0,0.0,2.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0
243177,1,1,1,NaN,鶯歌區三鶯路０５０巷０００５號三樓#鶯歌區三鶯路５０巷５號三樓,公寓(5樓含以下無電梯),NaN,80.09,F,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
243178,2,2,2,住,鶯歌區福德三街００２１號四樓#鶯歌區福德三街２１號四樓,公寓(5樓含以下無電梯),NaN,87.66,F,NaN,...,0.0,4.0,0.0,5.0,1.0,0.0,1.0,0.0,0.0,0.0
243179,3,3,3,住,鶯歌區育樂街００９８號二樓#鶯歌區育樂街９８號二樓,華廈(10層含以下有電梯),鶯歌建國華園,60.05,F,NaN,...,0.0,1.0,2.0,8.0,0.0,2.0,4.0,0.0,0.0,0.0

In [69]:
final_df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'usage_category',
       'address', 'property_type', 'community_name', 'main_building_ratio',
       'city', 'parking_space_price',
       ...
       '療養院_under_750_m', '診所_under_250_m', '診所_under_500_m', '診所_under_750_m',
       '藥局_under_250_m', '藥局_under_500_m', '藥局_under_750_m',
       '醫療設施_under_250_m', '醫療設施_under_500_m', '醫療設施_under_750_m'],
      dtype='object', length=109)

In [68]:
final_df.head(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,usage_category,address,property_type,community_name,main_building_ratio,city,parking_space_price,...,療養院_under_750_m,診所_under_250_m,診所_under_500_m,診所_under_750_m,藥局_under_250_m,藥局_under_500_m,藥局_under_750_m,醫療設施_under_250_m,醫療設施_under_500_m,醫療設施_under_750_m
0,0,0,0,住,士林區中社路一段０１１巷００７２號四樓#士林區中社路一段１１巷７２號四樓,公寓(5樓含以下無電梯),NaN,100.0,A,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
final_df = final_df.drop(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'],axis=1)

In [73]:
final_df.columns

Index(['usage_category', 'address', 'property_type', 'community_name',
       'main_building_ratio', 'city', 'parking_space_price',
       'transaction_date', 'elevator_available', 'building_age',
       ...
       '療養院_under_750_m', '診所_under_250_m', '診所_under_500_m', '診所_under_750_m',
       '藥局_under_250_m', '藥局_under_500_m', '藥局_under_750_m',
       '醫療設施_under_250_m', '醫療設施_under_500_m', '醫療設施_under_750_m'],
      dtype='object', length=106)

In [75]:
final_df.head(1)

,usage_category,address,property_type,community_name,main_building_ratio,city,parking_space_price,transaction_date,elevator_available,building_age,...,療養院_under_750_m,診所_under_250_m,診所_under_500_m,診所_under_750_m,藥局_under_250_m,藥局_under_500_m,藥局_under_750_m,醫療設施_under_250_m,醫療設施_under_500_m,醫療設施_under_750_m
0,住,士林區中社路一段０１１巷００７２號四樓#士林區中社路一段１１巷７２號四樓,公寓(5樓含以下無電梯),NaN,100.0,A,NaN,2016-12-08,NaN,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
final_df.to_csv('./final_main_data_and_near_facility.csv', encoding="utf-8", index=False)

In [37]:
import lib.df_combine_and_re_duplicated as dcr

In [38]:
dcr.combine_file_under_dir('./ok_near_facility_新北_check/', './new_taipei.csv')

In [39]:
fff = pd.read_csv('./new_taipei.csv')

In [40]:
fff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 109 entries, Unnamed: 0.2 to 醫療設施_under_750_m
dtypes: float64(89), int64(8), object(12)
memory usage: 83.2+ MB