In [156]:
import pandas as pd

In [157]:
df = pd.read_excel('../../all_data/房價指數/201101_202405_信義房屋指數.xlsx')

In [158]:
df['年份'] = df['年份'].sort_values(ascending=False)

In [159]:
df

       年份  月     台北市     新北市    台北地區
0    2024  5  160.43  190.85  172.52
1    2024  4  159.05  188.81  170.88
2    2024  3  162.66  188.99  173.13
3    2024  2  159.79  188.13  171.05
4    2024  1  156.36  184.58  167.57
..    ... ..     ...     ...     ...
156  2011  5   97.02   96.60   96.85
157  2011  4   98.38   95.69   97.31
158  2011  3   97.86   97.61   97.76
159  2011  2   97.34   98.23   97.69
160  2011  1   94.45   96.84   95.40

[161 rows x 5 columns]

In [160]:
df['date'] = pd.to_datetime(df['年份'].astype(str) + '-' + df['月'].astype(str), format='%Y-%m')

In [161]:
df['date'] = df['date'].dt.to_period('M')
df.sort_values('date', inplace=True)

In [162]:
df.drop([0,1],axis=0, inplace=True)
df.drop(['年份', '月'],axis=1, inplace=True)

In [163]:
df.columns

Index(['台北市', '新北市', '台北地區', 'date'], dtype='object')

In [164]:
df.columns = ['house_index_xyi_tp', 'house_index_xyi_new_tp', 'house_index_xyi_all_tp', 'date']

In [165]:
df.to_csv('../../all_data/房價指數/xyi_house_index.csv', encoding='utf-8', index=False)

In [166]:
df_g = pd.read_excel('../../all_data/房價指數/10108_11303_台北市住宅價格指數_台北市地政局.xlsx')

In [167]:
df_g

,住宅價格指數,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,住宅價格指數類別,期別,月指數,季移動平均數,半年移動平均數,月變動率(%),季移動平均數變動率(%),半年移動平均數變動率(%),標準住宅總價(萬元),標準住宅單價(萬元/坪)
1,全市,101/08,91.69,-,-,0%,-,-,1452,46.26
2,全市,101/09,91.27,-,-,-0.45%,-,-,1446,46.05
3,全市,101/10,91.43,91.46,-,0.17%,-,-,1448,46.13
4,全市,101/11,91.27,91.32,-,-0.17%,-0.15%,-,1446,46.04
...,...,...,...,...,...,...,...,...,...,...
558,全市小宅,113/01,115.65,114.44,112.63,0.85%,1.19%,0.85%,999,71.37
559,全市小宅,113/02,117.56,115.96,113.88,1.65%,1.33%,1.11%,1016,72.55
560,全市小宅,113/03,120.13,117.78,115.43,2.19%,1.57%,1.36%,1038,74.14
561,單位:指數,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,資料來源：臺北市政府地政局,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
main_eco_df = pd.read_csv('../../all_data/df_monthly_bfill.csv')

In [169]:
main_eco_df
main_eco_df['combine_date'] = pd.to_datetime(main_eco_df['date'])
main_eco_df['combine_date'] = main_eco_df['combine_date'].dt.to_period('M')

In [170]:
main_eco_df

,date,EA1101,EB0312,EB0911,EB18,EB21,EB22,EC06,EC07,LA07,...,鋼鐵(TSE20)收盤,倫敦鋁現貨價,倫敦高級銅極現貨價,巴拿馬型貨櫃運費指數,杜拜輕原油現貨價,水泥50kg北區台泥,無鉛汽油95,竹節鋼筋_南,預拌混凝土3000磅台北,combine_date
0,2011-01-31,34.0,28.8,1.0978,86.78,95.85,89.85,19.6966,2.4085,4.64,...,120.70,2450.300,9560.900,1738.2,91.6700,151.5,31.600,21260.0,1815.0,2011-01
1,2011-02-28,34.0,28.8,1.3261,85.89,96.75,89.80,15.6473,2.4130,4.69,...,117.89,2513.250,9853.125,1696.0,99.7525,151.5,31.575,21250.0,1890.0,2011-02
2,2011-03-31,31.0,28.8,1.3950,83.66,96.60,88.00,9.6368,2.6450,4.48,...,122.54,2548.875,9564.625,2071.5,109.1775,151.5,32.675,21525.0,1890.0,2011-03
3,2011-04-30,29.0,28.8,1.2941,85.78,100.45,89.30,12.5386,2.4640,4.29,...,122.81,2682.700,9524.800,1601.0,115.6840,151.5,32.980,20500.0,1896.0,2011-04
4,2011-05-31,27.0,28.8,1.6650,85.40,102.60,90.55,21.8994,2.2711,4.27,...,118.57,2587.625,8945.125,1755.0,105.4850,151.5,32.525,20175.0,1787.5,2011-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2023-12-31,22.0,45.4,2.6980,70.06,67.32,81.33,26.8298,1.4458,3.33,...,146.64,2204.900,8450.000,2063.5,77.9300,169.5,30.960,20880.0,2625.0,2023-12
156,2024-01-31,27.0,46.2,1.7954,72.14,69.24,82.94,17.1918,1.2969,3.31,...,141.05,2181.125,8339.375,1580.5,79.9025,169.5,30.650,20775.0,2700.0,2024-01
157,2024-02-29,29.0,54.0,3.0751,73.22,70.23,83.59,22.3363,1.0581,3.39,...,141.65,2187.500,8314.000,1548.5,82.8375,169.5,30.600,20925.0,2700.0,2024-02
158,2024-03-31,30.0,56.4,2.1472,73.51,70.41,83.68,27.8950,1.0297,3.38,...,139.16,2225.500,8664.600,1934.2,86.5420,169.5,31.020,20380.0,2700.0,2024-03
159,2024-04-30,NaN,55.2,1.9503,63.37,64.72,79.60,30.9222,0.8370,3.36,...,145.65,2509.750,9554.500,1800.5,91.3200,169.5,31.050,20600.0,2700.0,2024-04

In [171]:
finally_df = df.merge(main_eco_df, left_on='date', right_on='combine_date', how='inner')

In [172]:
finally_df.drop(['date_x', 'combine_date'],axis=1, inplace=True)

In [173]:
# 更改欄位名稱
finally_df.rename(columns={'date_y':'date'}, inplace=True)

In [174]:
finally_df.columns

Index(['house_index_xyi_tp', 'house_index_xyi_new_tp',
       'house_index_xyi_all_tp', 'date', 'EA1101', 'EB0312', 'EB0911', 'EB18',
       'EB21', 'EB22', 'EC06', 'EC07', 'LA07', 'MA1501', 'MB65', 'MC31',
       'MC31G', 'MC36', 'MC36G', 'MO30', 'MP101G', 'NA0101', 'NA1005',
       'NB0101', 'NC0117', 'NC0118', 'NE0206', 'NE0812', 'OC08G', 'PA0120',
       'PA1205', 'PE0503', 'TSE收盤', '水泥(TSE11)收盤', '建材營造(TSE25)收盤',
       '航運業(TSE26)收盤', '鋼鐵(TSE20)收盤', '倫敦鋁現貨價', '倫敦高級銅極現貨價', '巴拿馬型貨櫃運費指數',
       '杜拜輕原油現貨價', '水泥50kg北區台泥', '無鉛汽油95', '竹節鋼筋_南', '預拌混凝土3000磅台北'],
      dtype='object')

In [175]:
new_order = ['date', 'house_index_xyi_all_tp','house_index_xyi_tp', 'house_index_xyi_new_tp', 'EA1101', 'EB0312', 'EB0911', 'EB18',
       'EB21', 'EB22', 'EC06', 'EC07', 'LA07', 'MA1501', 'MB65', 'MC31',
       'MC31G', 'MC36', 'MC36G', 'MO30', 'MP101G', 'NA0101', 'NA1005',
       'NB0101', 'NC0117', 'NC0118', 'NE0206', 'NE0812', 'OC08G', 'PA0120',
       'PA1205', 'PE0503', 'TSE收盤', '水泥(TSE11)收盤', '建材營造(TSE25)收盤',
       '航運業(TSE26)收盤', '鋼鐵(TSE20)收盤', '倫敦鋁現貨價', '倫敦高級銅極現貨價', '巴拿馬型貨櫃運費指數',
       '杜拜輕原油現貨價', '水泥50kg北區台泥', '無鉛汽油95', '竹節鋼筋_南', '預拌混凝土3000磅台北']

In [176]:
# reindex可以重排整個row(預設，axis=0)或 column的順序(axis=1)
finally_df = finally_df.reindex(new_order, axis=1)

In [177]:
finally_df['NA1005'].fillna(method='ffill', inplace=True)

C:\Users\Tony\AppData\Local\Temp\ipykernel_13412\1881004822.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  finally_df['NA1005'].fillna(method='ffill', inplace=True)
C:\Users\Tony\AppData\Local\Temp\ipykernel_13412\1881004822.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  finally_df['NA1005'].fillna(method='ffill', inplace=True)

In [178]:
finally_df.isnull().sum().sum()

0

In [179]:
finally_df.to_csv('../../all_data/house_price_monthly_bfill.csv', encoding='utf-8', index=False)

In [180]:
finally_df

,date,house_index_xyi_all_tp,house_index_xyi_tp,house_index_xyi_new_tp,EA1101,EB0312,EB0911,EB18,EB21,EB22,...,航運業(TSE26)收盤,鋼鐵(TSE20)收盤,倫敦鋁現貨價,倫敦高級銅極現貨價,巴拿馬型貨櫃運費指數,杜拜輕原油現貨價,水泥50kg北區台泥,無鉛汽油95,竹節鋼筋_南,預拌混凝土3000磅台北
0,2011-01-31,95.40,94.45,96.84,34.0,28.8,1.0978,86.78,95.85,89.85,...,123.49,120.70,2450.300,9560.900,1738.2,91.6700,151.5,31.600,21260.0,1815.0
1,2011-02-28,97.69,97.34,98.23,34.0,28.8,1.3261,85.89,96.75,89.80,...,108.61,117.89,2513.250,9853.125,1696.0,99.7525,151.5,31.575,21250.0,1890.0
2,2011-03-31,97.76,97.86,97.61,31.0,28.8,1.3950,83.66,96.60,88.00,...,103.48,122.54,2548.875,9564.625,2071.5,109.1775,151.5,32.675,21525.0,1890.0
3,2011-04-30,97.31,98.38,95.69,29.0,28.8,1.2941,85.78,100.45,89.30,...,110.02,122.81,2682.700,9524.800,1601.0,115.6840,151.5,32.980,20500.0,1896.0
4,2011-05-31,96.85,97.02,96.60,27.0,28.8,1.6650,85.40,102.60,90.55,...,112.45,118.57,2587.625,8945.125,1755.0,105.4850,151.5,32.525,20175.0,1787.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2023-11-30,162.10,150.51,179.66,20.0,42.5,2.8952,69.40,67.42,81.84,...,138.28,139.30,2197.875,8135.500,1729.0,82.7800,169.5,31.125,20250.0,2625.0
155,2023-12-31,163.19,150.85,181.90,22.0,45.4,2.6980,70.06,67.32,81.33,...,154.46,146.64,2204.900,8450.000,2063.5,77.9300,169.5,30.960,20880.0,2625.0
156,2024-01-31,167.57,156.36,184.58,27.0,46.2,1.7954,72.14,69.24,82.94,...,149.83,141.05,2181.125,8339.375,1580.5,79.9025,169.5,30.650,20775.0,2700.0
157,2024-02-29,171.05,159.79,188.13,29.0,54.0,3.0751,73.22,70.23,83.59,...,157.14,141.65,2187.500,8314.000,1548.5,82.8375,169.5,30.600,20925.0,2700.0
158,2024-03-31,173.13,162.66,188.99,30.0,56.4,2.1472,73.51,70.41,83.68,...,154.33,139.16,2225.500,8664.600,1934.2,86.5420,169.5,31.020,20380.0,2700.0