In [1]:
# !pip install openpyxl

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../all_data/主資料集/台北市_10101_11303_房價data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243176 entries, 0 to 243175
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     243176 non-null  int64
 1   usage_category                 242958 non-null  object
 2   address                        243176 non-null  object
 3   property_type                  243174 non-null  object
 4   community_name                 136206 non-null  object
 5   main_building_ratio            227424 non-null  float64
 6   city                           243176 non-null  object
 7   parking_space_price            38223 non-null   float64
 8   transaction_date               243176 non-null  object
 9   elevator_available             83323 non-null   float64
 10  building_age                   196408 non-null  float64
 11  number_of_land                 243176 non-null  int64
 12  number_of_building             243176 non-null  int64
 13  number_of_parking_space        243176 non-null  int64
 14  latitude                       243176 non-null  float64
 15  longitude                      243176 non-null  float64
 16  management_org_available       243176 non-null  int64
 17  per_ping_calculation_method    243176 non-null  object
 18  note                           121743 non-null  object
 19  price_per_ping                 236747 non-null  float64
 20  detailed_usage_classification  241750 non-null  object
 21  total_area_ping                243176 non-null  float64
 22  property_b_l_p_type            243176 non-null  object
 23  district                       243176 non-null  object
 24  total_price                    243176 non-null  int64
 25  total_floors                   242644 non-null  float64
 26  target_floor                   242430 non-null  float64
 27  transaction_floors             242769 non-null  float64
 28  bedrooms                       221600 non-null  float64
 29  living_rooms                   221600 non-null  float64
 30  bathrooms                      221600 non-null  float64
dtypes: float64(14), int64(6), object(11)
memory usage: 57.5+ MB

In [5]:
df.describe()

,Unnamed: 0,main_building_ratio,parking_space_price,elevator_available,building_age,number_of_land,number_of_building,number_of_parking_space,latitude,longitude,management_org_available,price_per_ping,total_area_ping,total_price,total_floors,target_floor,transaction_floors,bedrooms,living_rooms,bathrooms
count,243176.000000,227424.000000,38223.000000,83323.000000,196408.000000,243176.000000,243176.000000,243176.000000,243176.000000,243176.000000,243176.000000,2.367470e+05,243176.000000,2.431760e+05,242644.000000,242430.000000,242769.000000,221600.000000,221600.000000,221600.000000
mean,121587.500000,66.910628,356.074667,0.293640,24.723071,1.445139,1.061174,0.514076,25.056386,121.543593,0.375090,6.393070e+05,42.763555,2.757902e+07,9.736899,5.459291,1.054995,2.558394,1.630054,1.634449
std,70199.008868,19.610489,489.394825,0.455432,15.283910,1.149813,0.779405,2.715859,0.036372,0.032164,0.484147,2.833167e+05,142.100243,1.014306e+08,5.490241,4.144226,0.364130,1.575247,0.713486,1.110415
min,0.000000,0.030000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,24.966756,121.463496,0.000000,3.440000e+02,0.000000,0.000000e+00,1.000000,-5.000000,0.000000,0.000000,0.000000,0.000000
25%,60793.750000,50.020000,200.000000,0.000000,10.000000,1.000000,1.000000,0.000000,25.033369,121.519407,0.000000,4.618250e+05,20.720000,1.090000e+07,5.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,121587.500000,64.990000,250.000000,0.000000,27.000000,1.000000,1.000000,0.000000,25.053498,121.539301,0.000000,6.006350e+05,31.470000,1.748000e+07,9.000000,4.000000,1.000000,3.000000,2.000000,2.000000
75%,182381.250000,83.490000,400.000000,1.000000,37.000000,2.000000,1.000000,1.000000,25.076360,121.566088,1.000000,7.671870e+05,47.250000,2.900000e+07,13.000000,7.000000,1.000000,3.000000,2.000000,2.000000
max,243175.000000,100.000000,29700.000000,1.000000,111.000000,37.000000,153.000000,448.000000,25.176810,121.624711,1.000000,7.785293e+06,29216.550000,2.703400e+10,42.000000,42.000000,23.000000,168.000000,80.000000,174.000000

In [6]:
df.head(1)

,Unnamed: 0,usage_category,address,property_type,community_name,main_building_ratio,city,parking_space_price,transaction_date,elevator_available,...,total_area_ping,property_b_l_p_type,district,total_price,total_floors,target_floor,transaction_floors,bedrooms,living_rooms,bathrooms
0,0,住,士林區中社路一段０１１巷００７２號四樓#士林區中社路一段１１巷７２號四樓,公寓(5樓含以下無電梯),NaN,100.0,A,NaN,2016-12-08,NaN,...,20.81,房地(土地+建物),A15,8000000,4.0,4.0,1.0,2.0,1.0,1.0

In [7]:
# 要把一些值(ex: 農舍', '廠辦', '其他', '工廠', '倉庫'....去除)
df['property_type'].unique()

array(['公寓(5樓含以下無電梯)', '華廈(10層含以下有電梯)', '套房(1房(1廳)1衛)', '住宅大樓(11層含以上有電梯)',
       '店面（店舖)', '透天厝', '辦公商業大樓', '農舍', '廠辦', '其他', '工廠', '倉庫', nan],
      dtype=object)

In [8]:
# 要決定車位的問題
df['property_b_l_p_type'].unique()

array(['房地(土地+建物)', '房地(土地+建物)+車位'], dtype=object)

In [9]:
# 一筆交易若涉及多樓層(他一次買了5跟7樓要怎麼去做處理??)，可以先看樓層對於每坪價格的影響大不大??
df[ df['transaction_floors'] == 2 ].head(2)

,Unnamed: 0,usage_category,address,property_type,community_name,main_building_ratio,city,parking_space_price,transaction_date,elevator_available,...,total_area_ping,property_b_l_p_type,district,total_price,total_floors,target_floor,transaction_floors,bedrooms,living_rooms,bathrooms
10,10,住,士林區中山北路七段２１９巷００１０之１號７樓#士林區中山北路七段２１９巷１０之１號７樓,華廈(10層含以下有電梯),NaN,78.34,A,NaN,2016-12-01,NaN,...,70.07,房地(土地+建物)+車位,A15,36150000,7.0,6.0,2.0,3.0,2.0,3.0
33,33,住,士林區福林路３２９巷００２弄００３０號#士林區福林路３２９巷２弄３０號,透天厝,NaN,NaN,A,NaN,2016-12-12,NaN,...,37.13,房地(土地+建物),A15,36500000,2.0,1.0,2.0,4.0,2.0,2.0

In [10]:
# 將日期轉乘datetime格式
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

# 新增一個月頻率的欄位，用來合併經濟指標用的
df['year_month_for_combine'] = df['transaction_date'].dt.to_period('M')

In [15]:
# 201201-202403
df['year_month_for_combine'].sort_values(ascending=False)

208367    2024-03
208413    2024-03
208385    2024-03
208386    2024-03
208387    2024-03
           ...
84382     2012-01
27006     2012-01
27007     2012-01
27008     2012-01
27012     2012-01
Name: year_month_for_combine, Length: 243176, dtype: period[M]

# 資料來源TELpro

In [91]:
arch_stas = pd.read_excel('../all_data/經濟指標/資料來源_TEJpro/201101_202405_台灣_美國_營建統計數據.xlsx')

In [24]:
# 代號跟名稱是有對應到的
arch_stas.head(20)

        代號                       名稱       年月        數值 預估(F)
0   CA2903          美國新屋開工(千戶)(USD)  2024/04     132.6     P
1   CA2904       美國成屋銷售-SA(萬戶)(USD)  2024/04     414.0     P
2   CA2905         美國新屋銷售量(千戶)(USD)  2024/04      55.0     P
3   CA2910          美國新屋總量(千戶)(USD)  2024/04     529.0     P
4   CA2911     美國新屋庫存(待售)量(千戶)(USD)  2024/04     474.0     P
5   CA2912      美國新屋銷售量-SA(千戶)(USD)  2024/04     634.0     P
6   CA2913       美國新屋開工-SA(千戶)(USD)  2024/04    1360.0     P
7   CA2914  美國新屋庫存(待售)量-SA(千戶)(USD)  2024/04     480.0     P
8   CA2915       美國新屋總量-SA(千戶)(USD)  2024/04    1114.0     P
9   CA2916       美國成屋銷售價格中值(元)(USD)  2024/04  407600.0     P
10  CA2940     美國獨棟新屋開工-SA(千戶)(USD)  2024/04    1031.0     P
11  CA2941     美國公寓新屋開工-SA(千戶)(USD)  2024/04     322.0     P
12  CA2942     美國未開工新屋營建許可(千戶)(USD)  2024/04     273.0     P
13  CA2943   美國未開工獨棟新屋營建許可(千戶)(USD)  2024/04     142.0     P
14  CA2944   美國未開工公寓新屋營建許可(千戶)(USD)  2024/04     126.0     P
15  CA2945     美國新屋營建許可-SA(千戶)(USD)  2024/04    1440.0     P
16  CA2946   美國獨棟新屋營建許可-SA(千戶)(USD)  2024/04     976.0     P
17  CA2947   美國公寓新屋營建許可-SA(千戶)(USD)  2024/04     408.0     P
18  CA2948       美國建屋峻工-SA(千戶)(USD)  2024/04    1623.0     P
19  CA2949     美國獨棟建屋峻工-SA(千戶)(USD)  2024/04    1092.0     P

In [18]:
arch_stas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7627 entries, 0 to 7626
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   代號      7627 non-null   object
 1   名稱      7627 non-null   object
 2   年月      7627 non-null   object
 3   數值      7627 non-null   float64
 4   預估(F)   7627 non-null   object
dtypes: float64(1), object(4)
memory usage: 298.1+ KB

In [31]:
# # pivot操作，將年月轉成index，每個指標的"名稱"轉成columns
# new_t = arch_stas.pivot_table('數值', index='年月', columns='名稱')
# new_t.head()

In [59]:
# # 代號名稱對應表
# mapping_list_table = arch_stas[['名稱', '代號']]
# uni_set = set()
# # dataframe跟dict很像，要.values才會是值，不然預設會取到column的名稱(相對於dict也就是key的概念)
# for index, value in enumerate(mapping_list_table.values):
#     uni_set.add((mapping_list_table['代號'].iloc[index], mapping_list_table['名稱'].iloc[index]))
# len(uni_set) # 有62格欄位
# # 取出對應表
# for a, b in uni_set:
#     print(a,b)

HU03 臺灣地區辦理建物所有權移轉買賣登記面積(平方公尺)
CA2903 美國新屋開工(千戶)(USD)
CA2904 美國成屋銷售-SA(萬戶)(USD)
EA0180 台灣-房地產貸款負擔率-季(百分比)
HFN201 臺區使用執照工程造價(千元)(TWD)
EA0194 台南市房地產貸款負擔率(百分比)(TWD)
CA2942 美國未開工新屋營建許可(千戶)(USD)
HT0403 新北市辦理建物所有權移轉登記買賣面積(平方公尺)
CA2949 美國獨棟建屋峻工-SA(千戶)(USD)
MC59 台灣全國本季末購置住宅貸款逾放金額(百萬)(TWD)
MC61 台灣全國本季末購置住宅貸款催收金額(百萬)(TWD)
CA2970 美國營建支出-非住宅區-SA(百萬元)(USD)
EA0188 台中市房地產貸款負擔率(百分比)(TWD)
CA2905 美國新屋銷售量(千戶)(USD)
HFA201 臺區建造執照工程造價(千元)(TWD)
CA2941 美國公寓新屋開工-SA(千戶)(USD)
EA0167 台灣台中市房地產市場房價所得比(百分比)(TWD)
EA0173 台灣台南市房地產市場房價所得比(百分比)(TWD)
HV01 臺區建造執照件數(件)
CA2916 美國成屋銷售價格中值(元)(USD)
HU02 臺灣地區辦理建物所有權移轉登記面積(平方公尺)
CA2969 美國營建支出(百萬元)(USD)
HY01 臺區使用執照總件數(件)
CA2947 美國公寓新屋營建許可-SA(千戶)(USD)
CA2965 美國營建支出-SA(百萬元)(USD)
HF01 臺區建照執照樓板面積(平方公尺)
EA0185 新竹市房地產貸款負擔率(百分比)(TWD)
CA2940 美國獨棟新屋開工-SA(千戶)(USD)
EA0174 台灣高雄市房地產市場房價所得比(百分比)(TWD)
HT04 臺灣辦理建物所有權移轉登記買賣面積(平方公尺)
EA0163 台灣桃園市房地產市場房價所得比(百分比)(TWD)
CA2944 美國未開工公寓新屋營建許可(千戶)(USD)
CA2912 美國新屋銷售量-SA(千戶)(USD)
EA0195 高雄市房地產貸款負擔率(百分比)(TWD)
CA2915 美國新屋總量-SA(千戶)(USD)
EA0160 台灣台北市房地產市場房價所得比(百分比)(TWD)
EA0182 新北市房地產貸款負擔率(百分比)(TWD)
CA2910 美國新屋總量(千戶)(USD)
MC60 台灣全國本季購置住宅貸款逾放金額變化(百萬)(TWD)
HT01 臺灣地區辦理建物所有權第一次總登記棟數(棟)
MC62 台灣全國本季末購置住宅貸款逾放筆數(件)
HU01 臺灣地區辦理建物所有權登記第一次登記面積(平方公尺)
EA0164 台灣新竹市房地產市場房價所得比(百分比)(TWD)
CA2943 美國未開工獨棟新屋營建許可(千戶)(USD)
EA0161 台灣新北市房地產市場房價所得比(百分比)(TWD)
CA2968 美國營建支出-公部門-SA(百萬元)(USD)
EA0159 台灣-房地產市場房價所得比-全國地區-季(百分比)
CA2950 美國公寓新屋峻工-SA(千戶)(USD)
MC63 台灣全國本季末購置住宅貸款違約率(百分比)
CA2946 美國獨棟新屋營建許可-SA(千戶)(USD)
EA0181 台北市房地產貸款負擔率(百分比)(TWD)
HT03 臺灣地區辦理建物所有權移轉登記買賣棟數(棟)
HT02 臺灣地區辦理建物所有權登記移轉棟數(棟)
CA2945 美國新屋營建許可-SA(千戶)(USD)
CA2948 美國建屋峻工-SA(千戶)(USD)
HA01 臺區使用執照樓板面積(平方公尺)
CA2967 美國營建支出-住宅區-SA(百萬元)(USD)
CA2913 美國新屋開工-SA(千戶)(USD)
CA2911 美國新屋庫存(待售)量(千戶)(USD)
CA2966 美國營建支出-私部門-SA(百萬元)(USD)
EA0184 桃園縣房地產貸款負擔率(百分比)(TWD)
CA2914 美國新屋庫存(待售)量-SA(千戶)(USD)

In [87]:
# 資料表格都相同，所以寫成函式做轉換
def convert_table(table):
    new_t = table.pivot_table('數值', index='年月', columns='名稱')
    return new_t
# 代號名稱對應表
def mapping_list(table):
    mapping_list_table = table[['名稱', '代號']]
    uni_set = set()
    # dataframe跟dict很像，要.values才會是值，不然預設會取到column的名稱(相對於dict也就是key的概念)
    for index, value in enumerate(mapping_list_table.values):
        uni_set.add((mapping_list_table['代號'].iloc[index], mapping_list_table['名稱'].iloc[index]))
    return list(uni_set)

In [92]:
arch_stas_pivot = convert_table(arch_stas)
arch_stas_list = mapping_list(arch_stas)

In [95]:
iron_H_price = pd.read_excel('../all_data/經濟指標/資料來源_TEJpro/201101_202405_台灣中鋼_H型鋼原物料價.xlsx')
iron_H_price_pivot = convert_table(iron_H_price)
iron_H_price_list = mapping_list(iron_H_price)

In [96]:
bank = pd.read_excel('../all_data/經濟指標/資料來源_TEJpro/201101_202405_全體銀行業_存款放款.xlsx')
bank_pivot = convert_table(bank)
bank_list = mapping_list(bank)

In [97]:
item_price = pd.read_excel('../all_data/經濟指標/資料來源_TEJpro/201101_202405_物價統計數據.xlsx')
item_price_pivot = convert_table(item_price)
item_price_list = mapping_list(item_price)

In [98]:
economic = pd.read_excel('../all_data/經濟指標/資料來源_TEJpro/201101_202405_國民所得經濟成長.xlsx')
economic_pivot = convert_table(economic)
economic_list = mapping_list(economic)

In [99]:
scenario = pd.read_excel('../all_data/經濟指標/資料來源_TEJpro/201101_202405_景氣指標.xlsx')
scenario_pivot = convert_table(scenario)
scenario_list = mapping_list(scenario)

In [109]:
money_provide = pd.read_excel('../all_data/經濟指標/資料來源_TEJpro/貨幣供給及利率匯率/201101_202405_貨幣供給及利率匯率.xlsx')
money_provide_pivot = convert_table(money_provide)
money_provide_list = mapping_list(money_provide)

In [213]:
money_provide_pivot

名稱,中國M0(十億元)(USD),中國M0年增率(百分比),中國M1(十億元)(CNY),中國M1年增率(百分比),中國M2(十億元)(CNY),中國M2年增率(百分比),中國貨幣供給額-儲蓄存款(十億元)(USD),中國貨幣供給額-其它存款(十億元)(USD),中國貨幣供給額-定期存款(十億元)(USD),中國貨幣供給額-活期存款(十億元)(CNY),...,菲律賓(M2)(百萬元)(PHP),菲律賓(M3)(百萬元)(PHP),菲律賓M1(百萬元)(PHP),辦理人民匯款總額合計-DBU&OBU(億元)(DEM),韓國一年期公債殖利率(百分比),香港上海匯豐銀行港元最優貸款利率(百分比),馬來西亞M1(百萬元)(MYR),馬來西亞M2(百萬元)(MYR),馬來西亞M3(百萬元)(MYR),馬來西亞基本利率(百分比)
年月,,,,,,,,,,,,,,,,,,,,,
2011/01,5806.39,42.4580,26176.50,14.0146,73560.0,17.6772,31842.450,1064.580,14304.950,20370.110,...,4096182.0,4179209.0,1325018.0,NaN,3.090,5.00,239973.5027,1082364.707,1108845.650,6.270
2011/02,4727.02,10.2749,25920.05,15.5664,73610.0,15.7390,32094.440,1499.720,14098.880,21193.030,...,4129080.0,4214627.0,1340800.0,NaN,3.390,5.00,233770.7973,1074270.785,1100268.831,6.270
2011/03,4484.52,14.7505,26625.55,16.0671,75810.0,16.6285,33130.890,1178.540,14878.110,22141.030,...,4201734.0,4293752.0,1319049.0,NaN,3.420,5.00,229361.3406,1088617.285,1114113.122,6.270
2011/04,4548.90,14.7047,26676.69,14.0469,75730.0,15.3366,32667.310,1063.200,15331.260,22127.790,...,4111897.0,4200498.0,1338428.0,NaN,3.430,5.00,231001.7537,1103104.475,1129268.806,6.270
2011/05,4460.28,15.3929,26928.96,13.8655,76340.0,15.0739,32747.310,1027.580,15637.060,22468.680,...,4172499.0,4261535.0,1334859.0,NaN,3.430,5.00,234031.6334,1117008.857,1145430.740,6.540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024/01,12140.00,5.9000,69420.00,5.9000,297630.0,8.7000,140405.127,34861.356,52938.748,57279.934,...,16527202.0,16980251.0,6703078.0,1992.00,3.384,5.88,639207.4000,2400247.300,2412177.900,6.683
2024/02,12100.00,12.5000,66590.00,1.2000,299560.0,8.7000,143607.041,36773.262,52585.385,54490.616,...,16482863.0,16923695.0,6646251.0,1324.74,3.434,5.88,639881.4000,2410934.000,2423051.600,6.683
2024/03,11720.00,11.0000,68580.00,1.1000,304800.0,8.3000,146446.063,36535.053,53233.210,56859.840,...,16739636.0,17179920.0,6810244.0,2827.25,3.374,5.88,645343.9000,2423483.700,2434371.800,6.683
2024/04,11730.00,10.8000,66010.00,-1.4000,301190.0,7.2000,144583.662,36785.593,53818.374,54275.514,...,NaN,NaN,NaN,3049.14,3.440,5.88,NaN,NaN,NaN,NaN
2024/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
arch_stas_pivot

名稱,台中市房地產貸款負擔率(百分比)(TWD),台北市房地產貸款負擔率(百分比)(TWD),台南市房地產貸款負擔率(百分比)(TWD),台灣-房地產市場房價所得比-全國地區-季(百分比),台灣-房地產貸款負擔率-季(百分比),台灣全國本季末購置住宅貸款催收金額(百萬)(TWD),台灣全國本季末購置住宅貸款逾放筆數(件),台灣全國本季末購置住宅貸款逾放金額(百萬)(TWD),台灣全國本季末購置住宅貸款違約率(百分比),台灣全國本季購置住宅貸款逾放金額變化(百萬)(TWD),...,臺區建造執照件數(件),臺區建造執照工程造價(千元)(TWD),臺灣地區辦理建物所有權登記移轉棟數(棟),臺灣地區辦理建物所有權登記第一次登記面積(平方公尺),臺灣地區辦理建物所有權移轉登記買賣棟數(棟),臺灣地區辦理建物所有權移轉登記面積(平方公尺),臺灣地區辦理建物所有權移轉買賣登記面積(平方公尺),臺灣地區辦理建物所有權第一次總登記棟數(棟),臺灣辦理建物所有權移轉登記買賣面積(平方公尺),高雄市房地產貸款負擔率(百分比)(TWD)
年月,,,,,,,,,,,,,,,,,,,,,
2011/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3039.0,29027501.0,62507.0,2644951.0,41974.0,20375125.0,4737878.0,9671.0,4737878.24,NaN
2011/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1705.0,12509138.0,32204.0,1850378.0,23227.0,6107885.0,2509741.0,6813.0,2509741.12,NaN
2011/03,30.31,53.78,25.31,7.3053,30.37,16121.0,11855.0,22286.0,0.42,913.0,...,2932.0,24240325.0,53542.0,2099871.0,39328.0,8087350.0,4396357.0,8225.0,4396356.81,26.42
2011/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2935.0,24180074.0,40502.0,1555187.0,30316.0,5102674.0,3374293.0,5469.0,3370006.06,NaN
2011/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2792.0,17800406.0,44908.0,1981675.0,34545.0,5543132.0,3756897.0,6799.0,3756896.97,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/12,50.24,67.22,40.47,9.9700,42.66,NaN,NaN,NaN,NaN,NaN,...,1596.0,30146230.0,47823.0,3237712.0,31169.0,5304017.0,3028271.0,15670.0,3028271.00,39.86
2024/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1800.0,29786387.0,51271.0,2832426.0,32191.0,5665948.0,3080119.0,12337.0,3080119.00,NaN
2024/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1031.0,17462708.0,31810.0,3503575.0,18920.0,3539716.0,1926799.0,14943.0,1926799.00,NaN
2024/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1344.0,23991135.0,46581.0,2201040.0,29902.0,5216890.0,3018389.0,10645.0,3018389.00,NaN
2024/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
mm = pd.merge(arch_stas_pivot, iron_H_price_pivot, left_index=True, right_index=True)

In [209]:
mm

名稱,台中市房地產貸款負擔率(百分比)(TWD),台北市房地產貸款負擔率(百分比)(TWD),台南市房地產貸款負擔率(百分比)(TWD),台灣-房地產市場房價所得比-全國地區-季(百分比),台灣-房地產貸款負擔率-季(百分比),台灣全國本季末購置住宅貸款催收金額(百萬)(TWD),台灣全國本季末購置住宅貸款逾放筆數(件),台灣全國本季末購置住宅貸款逾放金額(百萬)(TWD),台灣全國本季末購置住宅貸款違約率(百分比),台灣全國本季購置住宅貸款逾放金額變化(百萬)(TWD),...,臺灣地區辦理建物所有權登記移轉棟數(棟),臺灣地區辦理建物所有權登記第一次登記面積(平方公尺),臺灣地區辦理建物所有權移轉登記買賣棟數(棟),臺灣地區辦理建物所有權移轉登記面積(平方公尺),臺灣地區辦理建物所有權移轉買賣登記面積(平方公尺),臺灣地區辦理建物所有權第一次總登記棟數(棟),臺灣辦理建物所有權移轉登記買賣面積(平方公尺),高雄市房地產貸款負擔率(百分比)(TWD),H型鋼(頓)(TWD),鋼板-中鋼基價(頓)(TWD)
年月,,,,,,,,,,,,,,,,,,,,,
2011/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62507.0,2644951.0,41974.0,20375125.0,4737878.0,9671.0,4737878.24,NaN,25900.0,23911.0
2011/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32204.0,1850378.0,23227.0,6107885.0,2509741.0,6813.0,2509741.12,NaN,26400.0,23911.0
2011/03,30.31,53.78,25.31,7.3053,30.37,16121.0,11855.0,22286.0,0.42,913.0,...,53542.0,2099871.0,39328.0,8087350.0,4396357.0,8225.0,4396356.81,26.42,26900.0,23911.0
2011/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40502.0,1555187.0,30316.0,5102674.0,3374293.0,5469.0,3370006.06,NaN,26900.0,26860.0
2011/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44908.0,1981675.0,34545.0,5543132.0,3756897.0,6799.0,3756896.97,NaN,26400.0,26860.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/12,50.24,67.22,40.47,9.9700,42.66,NaN,NaN,NaN,NaN,NaN,...,47823.0,3237712.0,31169.0,5304017.0,3028271.0,15670.0,3028271.00,39.86,25850.0,30379.0
2024/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51271.0,2832426.0,32191.0,5665948.0,3080119.0,12337.0,3080119.00,NaN,25850.0,31179.0
2024/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31810.0,3503575.0,18920.0,3539716.0,1926799.0,14943.0,1926799.00,NaN,25850.0,31179.0
2024/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46581.0,2201040.0,29902.0,5216890.0,3018389.0,10645.0,3018389.00,NaN,25850.0,31179.0
2024/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25850.0,31479.0

In [202]:
mm2 = pd.merge(bank_pivot, item_price_pivot, left_index=True, right_index=True)

In [210]:
mm2

名稱,全體銀行定期儲蓄存款餘額─國軍同袍儲蓄會(百萬)(TWD),全體銀行定期存款金額─10萬元以下(百萬)(TWD),全體銀行對公民營企業放款餘額--購置動產(百萬)(TWD),全體銀行對公民營化學材料製造業放款年增率(百分比)(TWD),全體銀行對公民營化學製品製造業放款年增率(百分比)(TWD),全體銀行對公民營塑膠製品製造業放款年增率(百分比)(TWD),全體銀行對公民營家具及裝設製造業放款年增(百分比)(TWD),全體銀行對公民營橡膠製品製造業放款年增率(百分比)(TWD),全體銀行對公民營運輸工具製造業放款年增率(百分比)(TWD),全體銀行對公民營金屬製品製造業放款年增率(百分比)(TWD),...,台灣國產與進口品物價指數(2021=100)-前六個變動率-月(百分比),台灣國產與進口品物價指數(2021=100)-年增率-年(百分比),台灣國產與進口品物價指數-2021=100(指數),台灣國產與進口品物價指數年增率(2021=100)(百分比),台灣生產物價指數年增率-2021=100(百分比),台灣生產者物價指數PPI 2021=100(指數),台灣進口物價指數(2021=100)-年增率(百分比),進口物價年指數 EPI 2021=100 (美元計)(指數),進口物價年指數 IPI 2021=100(美元計價)(指數),香港綜合CPI 2019/10-2020/09=100(指數)
年月,,,,,,,,,,,,,,,,,,,,,
2011/01,0.0,29267.0,873537.0,3.2212,-4.1900,-5.0216,1.8877,25.6171,10.1586,12.5968,...,0.2281,NaN,109.86,1.9772,NaN,NaN,4.0174,NaN,NaN,76.1
2011/02,0.0,30701.0,872254.0,4.2566,-4.4191,-4.0608,5.8396,26.5121,9.3284,11.5475,...,2.1727,NaN,112.39,3.8629,NaN,NaN,7.0096,NaN,NaN,76.9
2011/03,0.0,30978.0,860778.0,3.8530,2.2272,-4.2625,4.6557,25.9250,10.5003,16.1427,...,4.3695,NaN,115.13,5.8180,NaN,NaN,9.3552,NaN,NaN,77.1
2011/04,0.0,31380.0,861999.0,2.1999,9.8892,-7.2104,2.4867,21.9959,9.7971,17.5039,...,5.4034,NaN,115.48,4.6678,NaN,NaN,7.8479,NaN,NaN,77.6
2011/05,0.0,31251.0,860439.0,-0.2991,12.6022,-9.3935,9.1460,24.8225,6.1709,17.7360,...,4.5276,NaN,114.51,3.4230,NaN,NaN,6.8086,NaN,NaN,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,0.0,60422.0,985155.0,12.2593,0.8066,6.9087,3.2162,4.7940,-9.4770,3.4194,...,1.9761,NaN,110.95,-2.4015,-0.8413,110.79,-4.2242,NaN,NaN,106.6
2023/12,0.0,60912.0,1008675.0,17.4566,2.2831,7.8443,6.9356,6.2469,-8.0148,7.3559,...,0.8877,-1.9903,109.11,-1.4541,-0.5744,109.05,-2.7563,98.8033,100.6,106.7
2024/01,0.0,61380.0,1025726.0,14.3173,2.0840,6.8522,7.0326,5.3262,-6.4826,8.1605,...,0.0092,NaN,108.93,-1.5545,-0.6844,108.84,-2.8363,NaN,NaN,106.6
2024/02,0.0,63658.0,1026012.0,15.3730,3.9999,8.0781,4.2748,2.7407,-5.8528,7.8667,...,-1.6748,NaN,109.20,-0.5646,0.1284,109.21,-1.5954,NaN,NaN,107.1
2024/03,0.0,64347.0,1051770.0,19.3528,10.8388,8.5250,9.0181,3.4320,-7.0147,5.3561,...,-2.1084,NaN,110.04,0.1092,0.4851,109.79,-0.4458,NaN,NaN,107.1

In [203]:
mm3 = pd.merge(economic_pivot, scenario_pivot, left_index=True, right_index=True)

In [211]:
mm3

名稱,GDP物價平減指數2016=100.93SNA版.年(指數),GDP物價平減指數年增率2016=100.93SNA版.年(百分比),中國名目GDP(億元)(CNY),中國名目GDP-工業-經濟普查調整後(億元)(CNY),中國名目GDP-年(億元)(CNY),中國名目GDP-建築業-經濟普查調整後(億元)(CNY),中國名目GNI(億元)(CNY),中國實質GDP成長率-季(百分比),中國平均每人GDP-美元(元)(USD),南韓名目GDP-季(十億元)(KRW),...,台灣-進口額(不含復進口)(一般貿易制)-台幣-月(百萬)(TWD),台灣-進口額年增率(不含復進口)(一般貿易制)-台幣-月(百分比),台灣-領先指標不含趨勢指數-月(指數),台灣-領先指標綜合指數-月(指數),台灣M1B日平均年增率(百分比),台灣M1B月底值年增率(百分比),台灣全體貨幣機構放款年增率(百分比),台灣櫃檯股價指數年增率(百分比),台灣股價指數年增率-NSA(百分比),台灣股價指數變動率-月均值(百分比)
年月,,,,,,,,,,,,,,,,,,,,,
2011/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,705693.0,13.0078,106.1773,64.5518,9.3526,10.9769,8.2685,0.3972,19.6966,10.7695
2011/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,607477.0,18.3690,105.9008,64.7580,9.4003,9.0345,8.4193,10.7372,15.6473,17.6386
2011/03,NaN,NaN,103457.0,NaN,NaN,NaN,NaN,10.2,NaN,328096.0,...,774514.0,8.3608,105.3816,64.7996,9.2160,9.0890,8.8579,0.5673,9.6368,10.2933
2011/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,727746.0,15.2051,104.6308,64.6812,8.1664,7.6573,8.3931,-5.4850,12.5386,10.0401
2011/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,776986.0,8.4753,103.7355,64.4549,7.9975,8.0249,7.9866,1.6541,21.8994,18.4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,889512.0,-13.8891,99.7782,90.2705,3.0346,2.8961,4.8016,23.7091,17.1665,20.6906
2023/12,107.0,2.5101,347890.0,NaN,NaN,NaN,NaN,5.2,12513.871,588660.7,...,902104.0,-4.3719,100.3032,90.4734,3.1062,3.9523,5.2977,25.2815,26.8298,21.0657
2024/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1077375.0,20.9243,100.7961,90.6458,3.5553,3.3409,5.5602,23.8426,17.1918,19.8868
2024/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,736882.0,-14.6630,101.1812,90.7199,4.4687,4.9487,6.4659,21.1131,22.3363,19.8483
2024/03,NaN,NaN,296299.0,NaN,NaN,NaN,NaN,5.3,NaN,NaN,...,1043590.0,10.6147,101.5044,90.7375,5.3830,5.7624,6.6381,19.8373,27.8950,26.7696

In [205]:
mm4 = pd.merge(mm3, money_provide_pivot, left_index=True, right_index=True)

In [212]:
mm4

名稱,GDP物價平減指數2016=100.93SNA版.年(指數),GDP物價平減指數年增率2016=100.93SNA版.年(百分比),中國名目GDP(億元)(CNY),中國名目GDP-工業-經濟普查調整後(億元)(CNY),中國名目GDP-年(億元)(CNY),中國名目GDP-建築業-經濟普查調整後(億元)(CNY),中國名目GNI(億元)(CNY),中國實質GDP成長率-季(百分比),中國平均每人GDP-美元(元)(USD),南韓名目GDP-季(十億元)(KRW),...,菲律賓(M2)(百萬元)(PHP),菲律賓(M3)(百萬元)(PHP),菲律賓M1(百萬元)(PHP),辦理人民匯款總額合計-DBU&OBU(億元)(DEM),韓國一年期公債殖利率(百分比),香港上海匯豐銀行港元最優貸款利率(百分比),馬來西亞M1(百萬元)(MYR),馬來西亞M2(百萬元)(MYR),馬來西亞M3(百萬元)(MYR),馬來西亞基本利率(百分比)
年月,,,,,,,,,,,,,,,,,,,,,
2011/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4096182.0,4179209.0,1325018.0,NaN,3.090,5.00,239973.5027,1082364.707,1108845.650,6.270
2011/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4129080.0,4214627.0,1340800.0,NaN,3.390,5.00,233770.7973,1074270.785,1100268.831,6.270
2011/03,NaN,NaN,103457.0,NaN,NaN,NaN,NaN,10.2,NaN,328096.0,...,4201734.0,4293752.0,1319049.0,NaN,3.420,5.00,229361.3406,1088617.285,1114113.122,6.270
2011/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4111897.0,4200498.0,1338428.0,NaN,3.430,5.00,231001.7537,1103104.475,1129268.806,6.270
2011/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4172499.0,4261535.0,1334859.0,NaN,3.430,5.00,234031.6334,1117008.857,1145430.740,6.540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16272929.0,16761966.0,6587160.0,1413.46,3.722,5.88,624652.1000,2351567.600,2361524.100,6.683
2023/12,107.0,2.5101,347890.0,NaN,NaN,NaN,NaN,5.2,12513.871,588660.7,...,16936193.0,17428180.0,6866493.0,1793.92,3.516,5.88,638423.0000,2390987.000,2402048.500,6.683
2024/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16527202.0,16980251.0,6703078.0,1992.00,3.384,5.88,639207.4000,2400247.300,2412177.900,6.683
2024/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16482863.0,16923695.0,6646251.0,1324.74,3.434,5.88,639881.4000,2410934.000,2423051.600,6.683
2024/03,NaN,NaN,296299.0,NaN,NaN,NaN,NaN,5.3,NaN,NaN,...,16739636.0,17179920.0,6810244.0,2827.25,3.374,5.88,645343.9000,2423483.700,2434371.800,6.683

In [206]:
mm5 = pd.merge(mm, mm2, left_index=True, right_index=True)

In [207]:
mm_all = pd.merge(mm4, mm5, left_index=True, right_index=True)

In [228]:
# 資料來源TELpro全部資料集
mm_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159 entries, 2011/01 to 2024/03
Columns: 1635 entries, GDP物價平減指數2016=100.93SNA版.年(指數) to 香港綜合CPI 2019/10-2020/09=100(指數)
dtypes: float64(1635)
memory usage: 2.0+ MB

# 資料來源XQ，處理方式不同

In [182]:
stock_weighted = pd.read_excel('../all_data/經濟指標/資料來源_XQ/月頻率資料/201101_202405_加權指數_月.xlsx')

In [183]:
# 將日期轉乘datetime格式
stock_weighted['加權指數(TSE)'] = pd.to_datetime(stock_weighted['加權指數(TSE)'])
# 新增一個月頻率的欄位，用來合併經濟指標用的
stock_weighted['year_month_stock_weighted'] = stock_weighted['加權指數(TSE)'].dt.to_period('M')
stock_weighted.dropna(axis=1, inplace=True)

In [184]:
# # 將日期轉成datetime格式，並新增一個月頻率的欄位，用來合併經濟指標用的
# def to_date_and_change_freq(table):
#     table['加權指數(TSE)'] = pd.to_datetime(table['加權指數(TSE)'])
#     table['year_month_stock_weighted'] = table['加權指數(TSE)'].dt.to_period('M')

In [185]:
concrete_stock = pd.read_excel('../all_data/經濟指標/資料來源_XQ/月頻率資料/201101_202405_水泥業_月.xlsx')

concrete_stock['水泥(TSE11)'] = pd.to_datetime(concrete_stock['水泥(TSE11)'])

# 新增一個月頻率的欄位，用來合併經濟指標用的
concrete_stock['year_month_concrete_stock'] = concrete_stock['水泥(TSE11)'].dt.to_period('M')
concrete_stock.dropna(axis=1, inplace=True)

In [186]:
concrete_stock

,水泥(TSE11),開盤,最高,最低,收盤,成交量,外資買賣超,投信買賣超,自營商買賣超,year_month_concrete_stock
0,2011-01-03,113.16,115.78,108.72,109.81,1200263,-0.81,-0.62,-0.70,2011-01
1,2011-02-08,110.27,110.27,102.37,102.64,975788,-9.09,0.00,-0.60,2011-02
2,2011-03-01,102.94,120.50,102.94,118.11,2083403,7.61,3.07,0.20,2011-03
3,2011-04-01,118.23,136.69,118.15,135.61,2960604,15.75,4.53,0.58,2011-04
4,2011-05-03,135.44,138.08,124.72,136.74,2740889,-1.10,4.41,0.05,2011-05
...,...,...,...,...,...,...,...,...,...,...
156,2024-01-02,160.96,161.07,149.42,150.50,1171574,-7.09,-0.95,0.91,2024-01
157,2024-02-01,150.50,153.63,149.52,152.01,802035,-0.36,0.29,0.07,2024-02
158,2024-03-01,151.94,153.69,149.10,153.69,1688888,-4.73,-0.13,-0.46,2024-03
159,2024-04-01,153.69,159.27,152.82,158.16,2105985,-4.52,-0.08,1.18,2024-04
160,2024-05-02,158.18,165.07,158.18,162.94,2269283,6.19,1.20,0.01,2024-05

In [187]:
ship_stock = pd.read_excel('../all_data/經濟指標/資料來源_XQ/月頻率資料/201101_202405_航運業_月.xlsx')
ship_stock['航運業(TSE26)'] = pd.to_datetime(ship_stock['航運業(TSE26)'])

# 新增一個月頻率的欄位，用來合併經濟指標用的
ship_stock['year_month_ship_stock'] = ship_stock['航運業(TSE26)'].dt.to_period('M')
ship_stock.dropna(axis=1, inplace=True)

In [188]:
ship_stock

,航運業(TSE26),開盤,最高,最低,收盤,成交量,外資買賣超,投信買賣超,自營商買賣超,year_month_ship_stock
0,2011-01-03,130.35,131.75,119.51,123.49,9442421,10.06,-8.45,-1.32,2011-01
1,2011-02-08,124.05,124.05,105.41,108.61,5617672,-21.87,-5.28,-3.37,2011-02
2,2011-03-01,108.95,111.08,97.88,103.48,6201375,-16.06,-6.03,-0.50,2011-03
3,2011-04-01,103.35,115.71,102.83,110.02,7498188,-5.69,7.27,2.61,2011-04
4,2011-05-03,110.23,117.01,107.44,112.45,6853887,0.93,3.29,0.16,2011-05
...,...,...,...,...,...,...,...,...,...,...
156,2024-01-02,155.82,166.52,149.54,149.83,37205685,-21.60,0.42,-0.03,2024-01
157,2024-02-01,149.86,157.23,146.41,157.14,13457685,8.02,0.81,2.39,2024-02
158,2024-03-01,156.96,163.97,150.53,154.33,34326919,-35.59,14.50,0.02,2024-03
159,2024-04-01,154.04,174.02,151.36,169.39,38838880,16.79,9.55,9.15,2024-04
160,2024-05-02,170.36,198.69,167.28,194.18,73198356,48.14,24.27,2.23,2024-05

In [189]:
iron_stock = pd.read_excel('../all_data/經濟指標/資料來源_XQ/月頻率資料/201101_202405_鋼鐵業_月.xlsx')
iron_stock['鋼鐵(TSE20)'] = pd.to_datetime(iron_stock['鋼鐵(TSE20)'])

# 新增一個月頻率的欄位，用來合併經濟指標用的
iron_stock['year_month_iron_stock'] = iron_stock['鋼鐵(TSE20)'].dt.to_period('M')
iron_stock.dropna(axis=1, inplace=True)

In [190]:
iron_stock

,鋼鐵(TSE20),開盤,最高,最低,收盤,成交量,外資買賣超,投信買賣超,自營商買賣超,year_month_iron_stock
0,2011-01-03,119.80,122.88,117.10,120.70,5199184,-0.46,1.95,-0.93,2011-01
1,2011-02-08,122.58,125.65,117.24,117.89,4543800,-10.63,-1.47,0.08,2011-02
2,2011-03-01,118.22,123.59,116.28,122.54,5031622,5.46,-1.24,-0.39,2011-03
3,2011-04-01,122.49,124.31,119.48,122.81,2818684,3.57,-1.63,-0.62,2011-04
4,2011-05-03,122.82,122.82,116.83,118.57,2594734,-14.34,-3.44,-0.83,2011-05
...,...,...,...,...,...,...,...,...,...,...
156,2024-01-02,146.77,147.05,136.50,141.05,6053126,-10.23,-0.63,0.71,2024-01
157,2024-02-01,141.04,143.53,138.23,141.65,3854256,-2.09,0.09,0.13,2024-02
158,2024-03-01,141.61,141.61,137.89,139.16,8496960,-10.84,3.05,-0.52,2024-03
159,2024-04-01,139.35,150.23,139.35,145.65,11015500,7.43,-0.95,1.48,2024-04
160,2024-05-02,145.64,150.29,142.61,145.55,12244684,-7.01,4.56,0.27,2024-05

In [191]:
arch_stock = pd.read_excel('../all_data/經濟指標/資料來源_XQ/月頻率資料/201101_202405_營造業_月.xlsx')
arch_stock['建材營造(TSE25)'] = pd.to_datetime(arch_stock['建材營造(TSE25)'])

# 新增一個月頻率的欄位，用來合併經濟指標用的
arch_stock['year_month_arch_stock'] = arch_stock['建材營造(TSE25)'].dt.to_period('M')
arch_stock.dropna(axis=1, inplace=True)

In [192]:
arch_stock

,建材營造(TSE25),開盤,最高,最低,收盤,成交量,外資買賣超,投信買賣超,自營商買賣超,year_month_arch_stock
0,2011-01-03,368.17,383.58,345.31,347.10,9682727,1.20,-4.43,-0.59,2011-01
1,2011-02-08,349.95,354.52,307.05,311.73,4076413,-2.03,-5.71,-1.87,2011-02
2,2011-03-01,310.84,316.60,271.91,296.68,6013747,-6.74,-3.20,-1.85,2011-03
3,2011-04-01,298.37,323.76,298.23,315.80,4361838,6.67,2.83,1.72,2011-04
4,2011-05-03,316.92,334.51,313.98,330.61,4958775,8.77,1.78,0.45,2011-05
...,...,...,...,...,...,...,...,...,...,...
156,2024-01-02,430.77,437.48,416.77,427.23,3714936,-3.32,0.84,0.22,2024-01
157,2024-02-01,427.35,445.98,425.68,444.50,3575018,3.45,-0.14,0.12,2024-02
158,2024-03-01,444.57,495.11,444.57,492.01,10176463,5.12,-0.05,1.83,2024-03
159,2024-04-01,492.17,605.31,492.17,598.25,26605535,-12.78,8.90,2.35,2024-04
160,2024-05-02,601.12,647.15,561.79,573.81,25218880,-4.56,2.90,-1.53,2024-05

In [193]:
# suffixes=('_arch', '_iron') 若合併的df有同名的欄位，要加什麼贅詞用以區分
mix = pd.merge(arch_stock, iron_stock, left_on='year_month_arch_stock', right_on='year_month_iron_stock', how='inner', suffixes=('_arch', '_iron'))

In [194]:
mix2 = pd.merge(concrete_stock, ship_stock, left_on='year_month_concrete_stock', right_on='year_month_ship_stock', suffixes=('_concrete','_ship'))

In [195]:
mix2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   水泥(TSE11)                  161 non-null    datetime64[ns]
 1   開盤_concrete                161 non-null    float64
 2   最高_concrete                161 non-null    float64
 3   最低_concrete                161 non-null    float64
 4   收盤_concrete                161 non-null    float64
 5   成交量_concrete               161 non-null    int64
 6   外資買賣超_concrete             161 non-null    float64
 7   投信買賣超_concrete             161 non-null    float64
 8   自營商買賣超_concrete            161 non-null    float64
 9   year_month_concrete_stock  161 non-null    period[M]
 10  航運業(TSE26)                 161 non-null    datetime64[ns]
 11  開盤_ship                    161 non-null    float64
 12  最高_ship                    161 non-null    float64
 13  最低_ship                    161 non-null    float64
 14  收盤_ship                    161 non-null    float64
 15  成交量_ship                   161 non-null    int64
 16  外資買賣超_ship                 161 non-null    float64
 17  投信買賣超_ship                 161 non-null    float64
 18  自營商買賣超_ship                161 non-null    float64
 19  year_month_ship_stock      161 non-null    period[M]
dtypes: datetime64[ns](2), float64(14), int64(2), period[M](2)
memory usage: 25.3 KB

In [196]:
mix_all = pd.merge(mix, mix2, left_on='year_month_arch_stock', right_on='year_month_concrete_stock')

In [231]:
# 資料來源XQ的資料合併集
mix_all.head()

,建材營造(TSE25),開盤_arch,最高_arch,最低_arch,收盤_arch,成交量_arch,外資買賣超_arch,投信買賣超_arch,自營商買賣超_arch,year_month_arch_stock,...,航運業(TSE26),開盤_ship,最高_ship,最低_ship,收盤_ship,成交量_ship,外資買賣超_ship,投信買賣超_ship,自營商買賣超_ship,year_month_ship_stock
0,2011-01-03,368.17,383.58,345.31,347.10,9682727,1.20,-4.43,-0.59,2011-01,...,2011-01-03,130.35,131.75,119.51,123.49,9442421,10.06,-8.45,-1.32,2011-01
1,2011-02-08,349.95,354.52,307.05,311.73,4076413,-2.03,-5.71,-1.87,2011-02,...,2011-02-08,124.05,124.05,105.41,108.61,5617672,-21.87,-5.28,-3.37,2011-02
2,2011-03-01,310.84,316.60,271.91,296.68,6013747,-6.74,-3.20,-1.85,2011-03,...,2011-03-01,108.95,111.08,97.88,103.48,6201375,-16.06,-6.03,-0.50,2011-03
3,2011-04-01,298.37,323.76,298.23,315.80,4361838,6.67,2.83,1.72,2011-04,...,2011-04-01,103.35,115.71,102.83,110.02,7498188,-5.69,7.27,2.61,2011-04
4,2011-05-03,316.92,334.51,313.98,330.61,4958775,8.77,1.78,0.45,2011-05,...,2011-05-03,110.23,117.01,107.44,112.45,6853887,0.93,3.29,0.16,2011-05

In [234]:
f1 = pd.merge(df,mix_all, left_on='year_month_for_combine', right_on='year_month_arch_stock')

In [237]:
mm_all

名稱,GDP物價平減指數2016=100.93SNA版.年(指數),GDP物價平減指數年增率2016=100.93SNA版.年(百分比),中國名目GDP(億元)(CNY),中國名目GDP-工業-經濟普查調整後(億元)(CNY),中國名目GDP-年(億元)(CNY),中國名目GDP-建築業-經濟普查調整後(億元)(CNY),中國名目GNI(億元)(CNY),中國實質GDP成長率-季(百分比),中國平均每人GDP-美元(元)(USD),南韓名目GDP-季(十億元)(KRW),...,台灣國產與進口品物價指數(2021=100)-前六個變動率-月(百分比),台灣國產與進口品物價指數(2021=100)-年增率-年(百分比),台灣國產與進口品物價指數-2021=100(指數),台灣國產與進口品物價指數年增率(2021=100)(百分比),台灣生產物價指數年增率-2021=100(百分比),台灣生產者物價指數PPI 2021=100(指數),台灣進口物價指數(2021=100)-年增率(百分比),進口物價年指數 EPI 2021=100 (美元計)(指數),進口物價年指數 IPI 2021=100(美元計價)(指數),香港綜合CPI 2019/10-2020/09=100(指數)
年月,,,,,,,,,,,,,,,,,,,,,
2011/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2281,NaN,109.86,1.9772,NaN,NaN,4.0174,NaN,NaN,76.1
2011/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.1727,NaN,112.39,3.8629,NaN,NaN,7.0096,NaN,NaN,76.9
2011/03,NaN,NaN,103457.0,NaN,NaN,NaN,NaN,10.2,NaN,328096.0,...,4.3695,NaN,115.13,5.8180,NaN,NaN,9.3552,NaN,NaN,77.1
2011/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4034,NaN,115.48,4.6678,NaN,NaN,7.8479,NaN,NaN,77.6
2011/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.5276,NaN,114.51,3.4230,NaN,NaN,6.8086,NaN,NaN,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9761,NaN,110.95,-2.4015,-0.8413,110.79,-4.2242,NaN,NaN,106.6
2023/12,107.0,2.5101,347890.0,NaN,NaN,NaN,NaN,5.2,12513.871,588660.7,...,0.8877,-1.9903,109.11,-1.4541,-0.5744,109.05,-2.7563,98.8033,100.6,106.7
2024/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0092,NaN,108.93,-1.5545,-0.6844,108.84,-2.8363,NaN,NaN,106.6
2024/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.6748,NaN,109.20,-0.5646,0.1284,109.21,-1.5954,NaN,NaN,107.1
2024/03,NaN,NaN,296299.0,NaN,NaN,NaN,NaN,5.3,NaN,NaN,...,-2.1084,NaN,110.04,0.1092,0.4851,109.79,-0.4458,NaN,NaN,107.1

In [252]:
# 要把mm_all的index新增成一個欄位，並把他的資料型態轉為period[M]，用以與主資料集進行合併
append_col = mm_all.index
append_col = pd.Series(append_col, index=mm_all.index)
mm_all['date'] = append_col
mm_all['date'] =  pd.to_datetime(mm_all['date'])
mm_all['date'] = mm_all['date'].dt.to_period('M')

In [263]:
final_df = pd.merge(f1, mm_all, left_on='year_month_for_combine', right_on='date', how='inner')

In [264]:
# 最終合併的資料表
final_df

,Unnamed: 0,usage_category,address,property_type,community_name,main_building_ratio,city,parking_space_price,transaction_date,elevator_available,...,台灣國產與進口品物價指數(2021=100)-年增率-年(百分比),台灣國產與進口品物價指數-2021=100(指數),台灣國產與進口品物價指數年增率(2021=100)(百分比),台灣生產物價指數年增率-2021=100(百分比),台灣生產者物價指數PPI 2021=100(指數),台灣進口物價指數(2021=100)-年增率(百分比),進口物價年指數 EPI 2021=100 (美元計)(指數),進口物價年指數 IPI 2021=100(美元計價)(指數),香港綜合CPI 2019/10-2020/09=100(指數),date
0,0,住,士林區中社路一段０１１巷００７２號四樓#士林區中社路一段１１巷７２號四樓,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,2016-12-08,NaN,...,-2.9806,98.87,1.7914,NaN,NaN,3.3837,90.3358,82.5583,93.9,2016-12
1,1,住,士林區後港街０２０巷００１８號四樓#士林區後港街２０巷１８號四樓,公寓(5樓含以下無電梯),NaN,86.10,A,NaN,2016-12-03,NaN,...,-2.9806,98.87,1.7914,NaN,NaN,3.3837,90.3358,82.5583,93.9,2016-12
2,2,住,士林區中正路１０４巷００１弄０００２號四樓#士林區中正路１０４巷１弄２號四樓,華廈(10層含以下有電梯),NaN,49.54,A,NaN,2016-12-02,NaN,...,-2.9806,98.87,1.7914,NaN,NaN,3.3837,90.3358,82.5583,93.9,2016-12
3,3,住,士林區中山北路七段１９０巷００１６之３號７樓#士林區中山北路七段１９０巷１６之３號７樓,華廈(10層含以下有電梯),海山華廈,72.92,A,NaN,2016-12-10,NaN,...,-2.9806,98.87,1.7914,NaN,NaN,3.3837,90.3358,82.5583,93.9,2016-12
4,4,住,士林區延平北路五段２８５巷００８９號四樓#士林區延平北路五段２８５巷８９號四樓,套房(1房(1廳)1衛),硯藏,51.19,A,NaN,2016-12-06,NaN,...,-2.9806,98.87,1.7914,NaN,NaN,3.3837,90.3358,82.5583,93.9,2016-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243171,243171,住,南港區忠孝東路六段０１８６號#南港區忠孝東路六段１８６號,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,2022-01-27,1.0,...,NaN,104.46,11.2934,10.7689,103.58,12.3616,NaN,NaN,102.3,2022-01
243172,243172,住,南港區忠孝東路六段０１８６號三樓#南港區忠孝東路六段１８６號三樓,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,2022-01-27,1.0,...,NaN,104.46,11.2934,10.7689,103.58,12.3616,NaN,NaN,102.3,2022-01
243173,243173,住,南港區忠孝東路六段０１８６號二樓#南港區忠孝東路六段１８６號二樓,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,2022-01-27,1.0,...,NaN,104.46,11.2934,10.7689,103.58,12.3616,NaN,NaN,102.3,2022-01
243174,243174,工,南港區市民大道八段５８８巷００２８號三樓#南港區市民大道八段５８８巷２８號三樓,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,2022-01-25,1.0,...,NaN,104.46,11.2934,10.7689,103.58,12.3616,NaN,NaN,102.3,2022-01
243175,243175,工,南港區巷００３弄０００１號#南港區忠孝東路六段２６９巷３弄１號,公寓(5樓含以下無電梯),NaN,100.00,A,NaN,2022-01-25,1.0,...,NaN,104.46,11.2934,10.7689,103.58,12.3616,NaN,NaN,102.3,2022-01

In [265]:
final_df.to_csv('D:\WORKING_DIR\BDSE34期末專題_房價\main_data_combine_with_economic_data.csv')

In [266]:
test_df = pd.read_csv('D:\WORKING_DIR\BDSE34期末專題_房價\main_data_combine_with_economic_data.csv')

In [268]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243176 entries, 0 to 243175
Columns: 1709 entries, Unnamed: 0.1 to date
dtypes: float64(1677), int64(11), object(21)
memory usage: 3.1+ GB