In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('../../all_data/house_price_monthly_bfill.csv', encoding='utf=8')

In [5]:
df.head()

,date,house_index_xyi_all_tp,house_index_xyi_tp,house_index_xyi_new_tp,EA1101,EB0312,EB0911,EB18,EB21,EB22,...,航運業(TSE26)收盤,鋼鐵(TSE20)收盤,倫敦鋁現貨價,倫敦高級銅極現貨價,巴拿馬型貨櫃運費指數,杜拜輕原油現貨價,水泥50kg北區台泥,無鉛汽油95,竹節鋼筋_南,預拌混凝土3000磅台北
0,2011-01-31,95.40,94.45,96.84,34.0,28.8,1.0978,86.78,95.85,89.85,...,123.49,120.70,2450.300,9560.900,1738.2,91.6700,151.5,31.600,21260.0,1815.0
1,2011-02-28,97.69,97.34,98.23,34.0,28.8,1.3261,85.89,96.75,89.80,...,108.61,117.89,2513.250,9853.125,1696.0,99.7525,151.5,31.575,21250.0,1890.0
2,2011-03-31,97.76,97.86,97.61,31.0,28.8,1.3950,83.66,96.60,88.00,...,103.48,122.54,2548.875,9564.625,2071.5,109.1775,151.5,32.675,21525.0,1890.0
3,2011-04-30,97.31,98.38,95.69,29.0,28.8,1.2941,85.78,100.45,89.30,...,110.02,122.81,2682.700,9524.800,1601.0,115.6840,151.5,32.980,20500.0,1896.0
4,2011-05-31,96.85,97.02,96.60,27.0,28.8,1.6650,85.40,102.60,90.55,...,112.45,118.57,2587.625,8945.125,1755.0,105.4850,151.5,32.525,20175.0,1787.5

In [6]:
df_need = df.iloc[:,0:4]

In [8]:
df_need.to_csv('./house_index.csv', encoding='utf-8', index=False)